* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

.content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 98px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
}
/* Fixed-header */
.fixed-header {
  padding-top: 24px;
  position: sticky;
  background: #fffcf4;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.navbar .menu {
  margin-left: auto;
}
.navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul {
  display: flex;
}
.navbar ul a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
}
.navbar ul a:hover,
.navbar li.active a {
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.navbar li.active a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.navbar .action .btn {
  margin-left: 49px;
  padding: 8px 12px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
